.homePage-container{
    text-align: center;
    .HomePage-title{
        font-family: Helvetica, sans-serif;
        font-size: 120px;
        letter-spacing: 2px;
        line-height: 1.2;
        margin: 30px;
    }
    .HomePage-sub-title{
        font-family: lobster;
        font-size: 30px;
        width: 50%;
        margin: 31px auto;
    }
}