.homePage-container{
    text-align: center;

    .bg-image{
        background-image: url("../../images/home-page-bg.jpg");
        min-height: 600px; 
    }

    .bg-img-container {
        position: relative;
    }

    .HomePage-title{
        font-family: Helvetica, sans-serif;
        font-size: 57px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 10px;
        left: 28px;
    }
    .HomePage-sub-title{
        font-family: lobster;
        font-size: 30px;
        width: 50%;
        margin: 31px auto;
    }
}