// @font-face {
//     font-family: caveat;
//     src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// }
@font-face {
    font-family: lobster;
    src: url(../../fonts/Pacifico/Pacifico-Regular.ttf);
}
 @font-face {
     font-family: iconmoon;
     src: url(../../fonts/icomoon/fonts/icomoon.ttf);
 }
