.addSection-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  border-left: 1px solid #c3c3c3;
  width: 165px;
  z-index: 10000;
  border-right: solid 1px lightgray;

  & p{
      color:white;
      font-size:rem(25px);
      cursor: pointer;
  }
}
.setAddSection-container{
    transform: translate(0, 0) !important;
}
