.website-container {
  //   background: url(https://images4.alphacoders.com/600/thumb-1920-600528.png) no-repeat center center fixed;
  background: url(https://www.jakpost.travel/wimages/large/92-920926_nature-wallpapers-iphone-6-backgrounds-hd-download-iphone.jpg)
    no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
