.image-grid-sub-container {
  width: 25%;
}

.image-grid-sub-1 {
  height: 50%;
}

.image-grid-sub-container img {
  height: 100%;
}

.main-image-grid {
  width: 50%;
}

.main-image-grid img {
  height: 100%;
}

.image-grid-container {
  cursor: pointer;
}
