.introduction-container img  {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.introduction-container p {
  max-width: 300px;
  font-family: DancingScript-Regular;
  font-size: 1.7rem;
}

.bachelor-section,
.bachelorette-section {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

.introduction-main-img {
  margin-top:auto;
  margin-bottom:auto;
  align-self: center;
  margin-top: 30px;
}

.introduction-container {
  padding: 10px;
}
