.map-container > div {
  height: 200px !important;
  width: 100% !important;
  position: relative !important;
}

.map-container {
  padding: 30px;
  width: 50%;
}
.location-container {
  width: 50%;
}

.location-map-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.location-details {
  width: 50%;
  text-align: center;
}

.location-details > button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
