.template-img-container{
    width: 350px;
    height: 200px;
    border: black 1px solid;
    margin: 15px;
    transition: ease 0.4s;

    &:hover{
        opacity: 0.90;
        transform: scale(1.02);
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }
}